<nav
  class="navbar navbar-light"
  style="background-color: #fdaf43; height: 80px !important"
>
  <a class="navbar-brand" href="#" style="color: #82004a">
    <img
      src="./assets/images/logo.png"
      data-retina="true"
      alt=""
      width="50"
      height="50"
    />
    <b style="margin-left: 10px; font-size: 20px">RAFiiQ</b></a
  >
</nav>
<main>
  <h1>RafiiQ Zoom Meeting</h1>

  <button (click)="getSignature()">Join Meeting</button>
  <br />
  <br />

  <br />
  <br />

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">mosmyat</th>
        <td>data</td>
      </tr>
      <tr>
        <th scope="row">password</th>
        <td>{{ pass }}</td>
      </tr>
      <tr>
        <th scope="row">pstn_password</th>
        <td>{{ pstn_password }}</td>
      </tr>

      <tr>
        <th scope="row">type</th>
        <td>{{ type }}</td>
      </tr>

      <tr>
        <th scope="row">join_url</th>
        <td>
          <a href="{{ join_url }}">{{ join_url }}</a>
        </td>
      </tr>

      <tr>
        <th scope="row">start_url</th>
        <td>
          <a href="{{ start_url }}">{{ start_url }}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <a>{{ face_link }}</a>
  <br />
  <a>{{ insta_link }}</a>
</main>
